*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Biryani', sans-serif;
}

body {
  background-color: #F5F5F5;
}

nav {
  height: 100vh;
  width: 85px;
  background-color: white;
  position: fixed;
  text-align: center;
  top: 0px;
  left: 0px;
}

.logo {
  width: 60px;
  margin-top: 10px;
}

.icon {
  width: 36px;
  display: block;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-top: 6px;
  box-sizing: content-box;
}

.active {
  border-left: 4px solid #1CA3BA;
  position: relative;
  left: -4px;
}

.toolbar {
  position: absolute;
  top: 39%;
  left: 8px;
}

main {
  margin-left: 111px;
  margin-right: 4%;
  white-space: nowrap;
}

h2 {
  font-size: 20px;
}

section {
  margin: 20px 0 0 0;
}

.welcome {
  background: linear-gradient(90deg, #8ED1DC, #E3F4F6);
  height: 100px;
  line-height: 100px;
  padding-left: 25px;
  transition-property: 'height, margin';
  transition-duration: 300ms;
}

.transition {
  height: 0;
  margin: 0;
  overflow: hidden;
}

.welcome-message {
  display: inline;
}

#closebtn {
  width: 12px;
  float: right;
  margin: 16px 16px 0 0;
  display: inline;
}

#closebtn:hover{
  cursor: pointer;
}

.column-left {
  flex-basis: 49%
}

.column-right {
  flex-basis: 45%;
}

.box {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  background-color: white;
}

.title-button-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.section-header {
  display: inline;
  margin: 0;
}

button {
  background-color: #1CA3BA;
  padding: 7px 18px 2px 18px;
  font-size: 14px;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
}

.transaction-button {
  font-size: 12px;
  width: 100px;
  padding: 8px 0 4px 0;

}

button.inactive {
  background-color: white;
  color: #1CA3BA;
  border: 2px solid #1CA3BA;
  font-weight: 700;
}

button:hover {
  background-color: #157A8B;
  cursor: pointer;
}

button:hover.inactive{
  background-color: white;
  color: #1CA3BA;
  border: 2px solid #1CA3BA;
  font-weight: 700;
}

.account-summary {
  overflow: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.account {
  flex-basis: 30%;
  padding: 14px 0 12px 14px;
}

.account:last-of-type {
  margin-right: 0;
}

.label {
  text-transform: uppercase;
  font-size: 10px;
}

.accounts-list-row {
  margin-top: 10px;
  height: 60px;
  line-height: 65px;
}

.icon-item {
  display: inline-block;
  width: 20%;
  padding-left: 15px;
  position: relative;
}

.account-icon {
  width: 25px;
  position: absolute;
  top: 50%;
  margin-top: -14px;
}

.account-item {
  display: inline-block;
  width: 53%;
}

.type-item {
  display: inline-block;
  width: 27%;
}

table {
  border-spacing: 50px;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  font-size: 14px;
  text-align: left;
  padding: 8px 0px 5px 0;
}

tr {
  border: solid #CCCCCC;
  border-width: 1px 0;
  padding-bottom: 8px;
}

tr:first-of-type {
  border-top: none;
}

.transactions-box {
  padding: 20px 20px 30px 20px;
}

.transaction {
  width: 22%;
}

.payee {
  width: 41%;
}

.inflow {
  width: 22%;
}

.outflow {
  width: 15%;
}

section.transactions-page-header {
  margin-top: 30px;
}

h1 {
  font-size: 1.5em;
}

form {
  padding: 30px 60px 40px;
}

.section-header-centered {
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
}

select {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 14px;
  background-color: #F5F5F5;
  border: none;
  border-radius: 0;
  padding: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('assets/arrow.svg');
  background-repeat: no-repeat, repeat;
  background-position: right 10px top 50%;
  background-size: .65em auto, 100%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .2);
}

input {
  display: block;
  width: 100%;
  height: 30px;
  font-size: 14px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, .2);
  border: 0;
}

.column-accounts {
  width: 49%;
  margin-right: 8%;
  display: inline-block;
}

.column-form {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.transactions-page-header {
  width: 49%;
  display: flex;
  justify-content: space-between;
}

.log-expense-button {
  margin-top: 20px;
  float: none;
  display: block;
  text-transform: none;
  padding: 10px 40px 6px 40px;

}

.log-expense-button[disabled]:hover {
  background-color: #1CA3BA;
  cursor: default;
}

.transactions-page-table th {
  font-size: 16px;
}


.transactions-page-table td {
    padding: 10px 0px 6px 0;
}

.transactions-page-table .transaction {
  width: 19%;
}

.transactions-page-table .account-table-cell {
  width: 20%;
}

.transactions-page-table .payee {
  width: 28%;
}

.transactions-page-table .inflow {
  width: 15%;
}

.transactions-page-table .outflow {
  width: 18%;
}

.log-expense-confirmation {
  width: 100%;
  overflow: hidden;
  height: 0;
  padding: 0 20px;
  position: absolute;
  bottom: 0;
  background-color: #E3FFD4;
  font-size: 14px;
  transition-property: 'height, padding';
  transition-duration: 300ms;
}

.log-expense-confirmation p {
  display: inline;
}

.transactions-page-box {
  position: relative;
}

#closebtn-confirmation {
  width: 12px;
  float: right;
  margin: 4px 0px 0 0;
  display: inline;
}


.box-appear {
  height: 40px;
  padding: 8px 20px;
}

.validate:invalid{
  border: 2px solid red;
}

.columns {
  display: flex;
  justify-content: space-between;
}

.your-profile {
  width: 40%;
  display: inline-block;
  vertical-align: top;
  margin-right: 7%;
}

.right-column {
  width: 53%;
  display: inline-block;
}

.your-profile-box {
  padding: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.edit-info-btn {
  align-self: flex-end;
  margin-top: 20px;
}

.your-accounts .accounts-list-row {
  display: flex;
  font-size: 14px;
  padding: 0 30px;
  justify-content: space-between;
}

.profile-page-col1 {
  flex: 1 1 0;
}

.profile-page-col2 {
  flex: 1 1 0;
}

.profile-page-col3 {
  flex: 1 1 0;
}

.profile-page-col4 {
  flex: 0 1 0;
}

.your-accounts button {
  font-size: 10px;
  padding: 4px 10px 0 10px;
  margin-right: 10px;
}

.your-accounts button:last-of-type {
  margin-right: 0px;
}

.delete-btn {
  background-color: #EE3C4C
}

.add-an-account {
  padding: 20px;
}

.add-account-row {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-top: 20px;
}

.add-account-type {
  flex: 0 1 auto;
  margin-right: 20px;
}

.add-account-nickname {
  flex: 0 1 auto;
  margin-right: 20px;

}

.add-account-status {
  flex: 0 1 20%;
  margin-right: 20px;

}

.add-account-button {
  flex: 0 1 auto;
  align-self: flex-end;
  margin-right: 20px;
}
