*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #F5F5F5;
  font-family: 'Biryani', sans-serif;
}

nav {
  height: 100vh;
  width: 6%;
  background-color: white;
  position: fixed;
  text-align: center;
  top: 0px;
  left: 0px;
}

.logo {
  width: 60px;
  margin-top: 10px;
}

.icon {
  width: 36px;
  display: block;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-top: 6px;
  box-sizing: content-box;
}

.dashboard-icon {
  border-left: 4px solid #1CA3BA;
  position: relative;
  left: -4px;
}

.toolbar {
  position: absolute;
  top: 39%;
  left: 8px;
}

main {
  margin-left: 8%;
  margin-right: 4%;
  white-space: nowrap;

}

h2 {
  font-size: 20px;
}

section {
  margin: 20px 0 0 0;
}

.welcome {
  background: linear-gradient(90deg, #8ED1DC, #E3F4F6);
  height: 100px;
  line-height: 100px;
  padding-left: 25px;
  transition-property: 'height, margin';
  transition-duration: 300ms;
}

.transition {
  height: 0;
  margin: 0;
  overflow: hidden;
}

.welcome-message {
  display: inline;
}

#closebtn {
  width: 12px;
  float: right;
  margin: 16px 16px 0 0;
  display: inline;
}

.column-left {
  width: 49%;
  margin-right: 6%;
  display: inline-block;
}

.column-right {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}

.box {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
  background-color: white;
}

.title-button-row {
  margin-bottom: 20px;
}

.section-header {
  display: inline;
  margin: 0;
}

button {
  background-color: #1CA3BA;
  padding: 9px 16px;
  font-size: 15px;
  border-radius: 25px;
  color: white;
  text-transform: uppercase;
  float: right;
}

button:hover {
  background-color: #88eba2;
}

.account-summary {
  overflow: auto;
  margin-bottom: 40px;
}

.account {
  width: 30%;
  margin-right: 5%;
  padding: 14px 0 12px 14px;
  display: inline-block;
}

.account:last-of-type {
  margin-right: 0;
}

.label {
  text-transform: uppercase;
  font-size: 10px;
}

.accounts-list-row {
  margin-top: 10px;
  height: 60px;
  line-height: 65px;
}

.icon-item {
  display: inline-block;
  width: 20%;
  padding-left: 15px;
  position: relative;
}

.account-icon {
  width: 25px;
  position: absolute;
  top: 50%;
  margin-top: -17px;
}

.account-item {
  display: inline-block;
  width: 53%;
}

.type-item {
  display: inline-block;
  width: 27%;
}

table {
  border-spacing: 50px;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  font-size: 14px;
  text-align: left;
  padding: 8px 0px 5px 0;
}

tr {
  border: solid #CCCCCC;
  border-width: 1px 0;
  padding-bottom: 8px;
}

tr:first-of-type {
  border: none;
}

.transactions-box {
  padding: 20px 20px 10px 20px;
}

.transaction {
  width: 22%;
}

.payee {
  width: 41%;
}

.inflow {
  width: 22%;
}

.outflow {
  width: 15%;
}
